<div class="row">
    <div class="col-12">
        <div class="card border-dark p-3 my-2">
            <h2>Add Comment</h2>
            <form class="form" id="comment-form">
                <div class="form-group">
                    <textarea class="form-control" id="post-reply"></textarea>
                    <button type="submit" class="btn btn-dark mt-3">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>