<div class="row mb-4">
    <div class="col-12">
        <div class="card border-dark">
            <div class="card-body">
                <p>
                    {{reply}}
                </p>
            </div>
            <div class="card-footer bg-dark">
                <h6 class="text-light">
                    <span>Posted by: {{user_name}},</span>
                    <span>{{format_date date_created}}</span>
                </h6>
            </div>
        </div>
    </div>
</div>