<div class="container-fluid">
    {{#if logged_in}}
    {{> post_form}}
    {{/if}}
    <div class="row">
        <div class="col-12">
            <h2>Posts</h2>
        </div>
    </div>
    {{#each postSerialized as |post|}}
    {{> original_post button=true dashboard=false}}
    {{/each}}
</div>
{{#if logged_in}}
<script src="/js/post.js"></script>
{{/if}}