<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border-dark p-3">
                <h2>Sign Up</h2>

                <form class="form" id="signup-form">
                    <div class="form-group">
                        <label for="login-user">Username</label>
                        <input type="text" class="form-control" id="login-user" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-dark">Sign Up</button>
                    <br>
                    <a href="/login">Already have an account? Log in instead</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>